body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(88, 77, 77); /* Add this line to set the background to black */
  color: white; /* Add this line to set the text color to white */
}

h1 {
  color: #c28787;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}
